@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.body-register {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register-box {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 1100px; /* Aumenta el tamaño del contenedor */
    width: 100%;
}

.register-left {
    flex: 1;
}

.register-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.register-button {
    width: 100%;
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #333;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    .register-box {
        flex-direction: column;
    }

    .register-left, .register-right {
        flex: unset;
        width: 100%;
    }

    .register-right {
        padding: 30px;
    }
}
